/*Styles css */
* {
    padding: 0px;
    margin: 0px;
}
#sectionOne {
background-color: #1f2937;
}
 .navbar{
    display: flex;
    flex-direction: row;
 }
#logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
.navitems{
    display: flex;
}
.navi {
    font-size: 18px;
    color: #e5e7eb;
    margin: 15px;
}
.navleft,.navright{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}
#content{
    display: flex;
    padding-bottom: 70px;
    padding-top: 25px;
}
.ltext {
    font-size: 48px;
    font-weight: 900;
    color:#f9faf8;
}
#pleft{
    color: #f9faf8;
    font-size: 18px;
    margin-left: 165    px;
    margin-right: 160px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.signup{
    background-color: #3882F6;
    color: #f9faf8;
    height: 40px;
    width: 90px;
    border-radius: 7px;
    font-family:  sans-serif;
}
.contentright img{
    width: 550px;
    height: auto;
    border-radius: 35px;
    margin-right: 155px;
}
.contentright, .contentleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;    

}

/* SECTION 2 // SECTION 2 // SECTION 2 // SECTION 2*/
#sectionTwo {

}

