/*Styles css */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
#sectionOne {
background-color: #1f2937;
}
/* navbar */
 #navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
 }
.navleft, .navright{
    display: flex;
}
.logo{
    color: #f9faf8;
    font-weight: bold;
    align-self: center;
    font-size: 24px;
}
.itemcontainer{
    color: #E5E7EB;
    display: flex;
    gap: 25px;
    padding-left: 600px;
}
.navitem {
    align-self: center;
    cursor: pointer;
    font-size: 15px;
}
/* content */
#content{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 70px;
}
.contentleft, .contentright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;   
}
.titleleft{
    color: #f9faf8;
    font-size: 40px;
    font-weight: 900;
}
.subtitleleft{
    color: #E5E7EB;
    font-size: 18px;
    margin: 25px;
    max-width: 445px;
    min-width: 310px;
}
.signup{
    background-color: #3882F6;
    color: #f9faf8;
    cursor: pointer;
    border-radius: 7px;
    width: 90px;
    height: 30px;
}
.contentright img{
    border-radius: 35px;
    padding-left: 20px;
    width: 490px;
    height: auto;
}
/* SECTION 2 // SECTION 2 // SECTION 2 // SECTION 2*/
#sectionTwo {
 background-color: rgb(255, 255, 255);
 padding-top: 40px;
 padding-bottom: 110px;
}
.servtitle{
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 26px;
}
/*squares*/
.sqlist{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}
.sqitem{
    border: 4px solid #3882F6;
    border-radius: 6px;
    padding: 70px;
}
.sqtexts{
    display: flex;  
    justify-content: center;
    gap: 134px;
    padding-top: 8px;
}
/* SECTION 3 // SECTION 3 // SECTION 3 // SECTION 3*/
#sectionThree{
    background-color: #E5E7EB;
    justify-content: center;
    align-self: center;
    display: flex;
    padding-top: 90px;
    padding-bottom: 90px;
}
.inspirational{
    color: #1f2937;
    font-style: italic;
    font-size: 28px;
    font-weight: 500;
    max-width: 574px;
}
.author{
    font-weight: bolder;
    font-size: 20px;
    margin-left: 377px;
}
/* SECTION 4 // SECTION 4 // SECTION 4 // SECTION 4*/
#sectionFour{
    background-color: rgb(255, 255, 255);
    padding-top: 70px;
    padding-bottom: 70px;
}
#calltoaction{
    display: flex;
    justify-content: center;
}
.rectangle{
    border: 1px solid #3882F6;
    background-color: #3882F6;
    border-radius: 8px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 810px;
}
.ctatext, .ctatitle{
    color: #f9faf8;
}
.ctatext{
    align-self: center;
    position: absolute;
    margin-left: 110px;   
}
.ctasubtitle{
    font-size: 16px;
    padding-top: 2px;
}
#signup2{
    border-radius: 6px;
    border: 1.8px solid white;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 603px;
    height: 28px;
    width: 93px;
}
/* footer 4 */
footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer p {
    color: #E5E7EB;
    align-self: center;
    font-size: 14px;
}